---
layout: default
---

<body class="w3-light-grey">
  <h2>Umum (Seputar Programming)</h2>
  <div class="posts">
    {% for post in site.posts %}
    {% if post.tags contains "general" %}
    <article class="post">
      <div class="w3-row">
        <div class="w3-col l4 m4 s12">
          <img src="{{ site.baseurl }}/images/{{ post.cover }}" alt="" class="cover">
        </div>
        <div class="w3-col l8 m8 s12 post-overview">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          <div class="date">
            {{ post.author }} - {{ post.date | date: "%B %e, %Y" }}
          </div>
          <div class="entry excerpt">
            {{ post.excerpt }}
          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
      </div>
    </article>
    {% endif %}
    {% endfor %}
    <br>
  </div>
</body>

</html>